<%- include("header")-%>
<h1>Mic Testing ... 1 2 3</h1>
<p>Hello and welcome to my Blog .My name is Abhijeet Lodhiyal.</p>
<p>This blog contains things about myself and my life.</p>
<p>If you have any suggestions feel free to contact me at my email id which is available at the Contact me section.</p>
<p>I hope you enjoy reading !</p>


<% posts.forEach(function(element){ %>
    <h1><%=element.title%></h1>
   <% let v=element.content.substring(0,100) + "..."; %>
    <p><%=v%> <a href="/posts/<%=element.title %>">Read more</a></p>
<%});%>


<%- include("footer")-%>